<h2> New Gift Idea </h2>
<%= bootstrap_form_for(@gift, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-4") do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.text_field :link %>
    <%= f.hidden_field :giver_id, :value => current_user.id %>
    <%= f.hidden_field :receiver_id, :value => params[:id] %>
    <%= f.form_group do %>
      <%= f.submit "Sign Up" %>
    <% end %>
<% end %>