<!DOCTYPE html>
<html>
  <head>
    <title>ThinkNGive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"> <%= link_to 'Home' %> </li>
        <li role="presentation"> <%= link_to "Logout", logout_path, method: :delete %></a></li>
      </ul>
    <% end %>
    <div class="jumbotron">
      <strong><h1 id = "jumbotron-header"> Gift Generator </h1></strong>
      <p id = "jumbotron-body"><i> Ever find yourself having trouble thinking of good gifts? Enter various gift ideas for certain people when you think of them on this site. When its time to give them a gift, the generator will randomly pick one. </i><p>
    </div>

    <div class = "container-fluid">
      <div class = "margin-left">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
